{% extends "inicio/encabezado.html" %}

{% block titulo %} Cursos {% endblock %}

{% block contenido %}
    <section class="cursos">
  <h2>Lista de Cursos</h2>
  <div class="cards-cursos">
    <div class="card">
      <h3>Programación</h3>
      <p>Aprende los fundamentos de la programación con Python, JavaScript y más.</p>
    </div>
    <div class="card">
      <h3>Bases de Datos</h3>
      <p>Domina el diseño, creación y gestión de bases de datos con SQL y herramientas modernas.</p>
    </div>
    <div class="card">
      <h3>Desarrollo Web</h3>
      <p>Construye sitios web modernos con HTML, CSS, JavaScript y frameworks populares.</p>
    </div>
  </div>
</section>

{% endblock %}